<h3>Crew</h3>
<ul>
  <li *ngFor="let crewMember of crew" >
    <span *ngIf="memberBeingEdited !== crewMember; else elseBlock">
      <!-- display state of crewMember -->
      <span (click)="edit(crewMember)" class="editable-text">{{crewMember.name}}</span>
      <span *ngIf="crewMember.firstMission"> - 1st</span>
      <button (click)="remove(crewMember)">remove</button>
    </span>

    <ng-template #elseBlock>
    <!-- edit state of crewMember -->
    <input #updatedName (keyup.enter)="save(updatedName.value, crewMember)" value = "{{crewMember.name}}"/>
    <button (click)="save(updatedName.value, crewMember)">save</button>
    </ng-template>
  </li>
</ul>

<input #name type="text"/>
<label>First mission<input #firstMission type="checkbox"/></label>
<button (click)="add(name.value, firstMission.checked)">Add</button>